--extra-index-url=https://MLibSpotify:c6drjkkd5g332mefn7fwwcb5oput6axpfddmlokb4kiqsg5fx5tq@pkgs.dev.azure.com/MikeKennedyDev/Libraries/_packaging/MLibSpotify/pypi/simple/
Flask==2.2.2
MLibSpotify==1.0.9.2