--extra-index-url=https://MLibSpotify:lw5rvladoqcdmym5kuzfse6cgtt4neayohm4zjb5mfdjxq5y33ha@pkgs.dev.azure.com/MikeKennedyDev/Libraries/_packaging/MLibSpotify/pypi/simple/
Flask==2.2.2
MLibSpotify==2.1.8